<% if(message) { %>
    <h3 style="color: white; background-color:blue;"> <%= message %> </h3>
<% } %>

<% if(success) { %>
    <h3 style="color: white; background-color:limegreen;"> <%= success %> </h3>
<% } %>

<% if(error) { %>
    <h3 style="color: white; background-color:red;"> <%= error %> </h3>
<% } %>
