<%- include ('../partials/head.ejs') %>
<section class="sm-container border border-watermelon">
    <div class="h4 py-2 m-5 text-danger border-bottom border-danger">
        Iniciar Sesion
    </div>
    <form action="/login" method="post" class="container mx-auto px-sm-3 py-3 my-5 bg-neutral text-dark rounded">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control has-validation" name="email" id="email" required>
            <div id="emailHelp" class="form-text bg-sky rounded p-1">Bienvenid@ de vuelta!</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password" required>
            <div id="passwordHelp" class="form-text bg-sky rounded p-1">Asegurate de no olvidarte de la contraseña :)</div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success mx-auto">Iniciar</button>
            <button type="submit" class=" border-0 mx-auto">
                <a class="btn btn-secondary" href="/">Cancelar</a>
            </button>
        </div>
    </form>
</section>
<%- include ('../partials/footer.ejs') %>